* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  background: linear-gradient(45deg, #fad7df, #ffebf0, #ff4081);
  background-size: 600% 600%;
  animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3 {
  text-wrap: balance;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInSlideDown 1s forwards;
  animation-delay: 0.5s;
}

p {
  text-wrap: pretty;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideUp 1s forwards;
  animation-delay: 1s;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-letter {
  position: relative;
}

.cover {
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 100px solid #fe3334;
  border-bottom: 100px solid transparent;
  transition: transform 0.75s;
  transform-origin: top;
}

.paper {
  position: absolute;
  padding: 1.5rem;
  line-height: 2rem;
  right: 5px;
  z-index: -1;
  background: white;
  width: 390px;
  height: 180px;
  transition: all 0.75s;
}

.letter {
  border-left: 200px solid #ff989e;
  border-right: 200px solid #ff989e;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #ff858a;
}

.options {
  display: flex;
  gap: 5rem;
}

.options button {
  color: #ff3234;
  font-weight: 600;
  border-radius: 3px;
  background: #fad7df;
  padding: 0.5rem 1rem;
  border: 1px solid #fe3334;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.options button:hover {
  background: #ff989e;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.open-cover {
  transform: rotateX(180deg);
}

.open-paper {
  top: -120px;
}

@keyframes openPaper {
  0% {
    top: 0;
  }
  100% {
    top: -120px;
  }
}

@keyframes closePaper {
  0% {
    top: -120px;
  }
  100% {
    top: 0;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.heart {
  display: none;
  position: absolute;
  top: 25%;
  left: 46.5%;
  margin: auto;
  font-size: 3rem;
  color: #fe3334;
  animation: crecer 1s forwards, parpadeo 1.5s infinite;
}

@keyframes crecer {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 3;
    opacity: 0;
  }
}

@keyframes parpadeo {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

img:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.back {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #ff4081;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.back:hover {
  background-color: #e03370;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
